<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="pokemons">
    <ion-item *ngFor="let item of pokemons" routerLink="/species/{{item.entry_number}}">
      <ion-avatar slot="start" *ngIf="item.entry_number"> 
          <img src="assets/pokemon/{{item.entry_number}}.png"/>
      </ion-avatar>
      <h1 class="capitalize">
        {{item.name}}
      </h1>
    </ion-item>
  </ion-list>
  <!-- 
    skeleton shiit
  -->
	<ion-list *ngIf='!pokemons'>
		<ion-item *ngFor='let fake of fakeListOfPokemon' class='fakeItem'>
        <ion-avatar slot="start" class="fake-ion-avatar">  
        </ion-avatar>
			<p></p>
		</ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
