<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/pokemon/pokermono.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Got to get all of them</ion-card-subtitle>
        <ion-card-title>Pokermono leave</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Totally not a pokemon go clone</p>
      </ion-card-content>
    </ion-card>

</ion-content>
